/* build time:Mon Jan 05 2026 23:20:46 GMT+0800 (中国标准时间)*/
.back-to-top{right:60px;width:70px;height:900px;top:-900px;bottom:unset;transition:all .5s ease-in-out;background:url(/images/scroll.png)}.back-to-top>i{display:none}.back-to-top.back-to-top-on{bottom:unset;top:calc(100vh - 900px - 200px)}
/* rebuild by neat */